# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
.expo/
.turbo/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
apps/api/.env
apps/web/.env.local
apps/mobile/.env.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Test
coverage/
.nyc_output/

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
*.pem
.vercel
